[submodule "tmux/.tmux/plugins/gruvbox-tmux"]
	path = tmux/.tmux/plugins/gruvbox-tmux
	url = https://git::@github.com/janders223/gruvbox-tmux
[submodule "tmux/.tmux/plugins/tmux-gruvbox"]
	path = tmux/.tmux/plugins/tmux-gruvbox
	url = https://git::@github.com/egel/tmux-gruvbox
[submodule "tmux/.tmux/plugins/tmux-sensible"]
	path = tmux/.tmux/plugins/tmux-sensible
	url = https://git::@github.com/tmux-plugins/tmux-sensible
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
